# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.local
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Build artifacts
dist/
build/
coverage/

# Cache
.cache/
.tmp/
.DS_Store

# Editor
.idea/
.vscode/

# OS
Thumbs.db
